@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model CoffeeShopLab2.Models.CoffeeShop.ErrorPageViewModel

<h1> Sorry! You do not have enough funds to purchase the items in the shopping cart. You only have $@Model.UserFunds </h1>