@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model CoffeeShopLab2.Models.UserItems.UserPurchasesViewModel


<link rel="stylesheet" href="~/css/stylesheet.css" type="text/css" />

<h2>Your purchased items are below: </h2>
@{
    foreach (var item in Model.userPurchases)
    {
        <div id="userItems">
            <a asp-controller="UserItems" asp-action="ItemDetails" asp-route-id="@item.ItemID">@item.Name Details</a>
            <br />
            <a asp-controller="UserItems" asp-action="DeleteConfirmation" asp-route-id="@item.ItemID" , asp-route-userid="@Model.CurrentUserID">DELETE ITEM</a>
        </div>
        <br />
    }
}

<h3>Would you like to add any items?</h3>
<a href="/CoffeeShop/Shop">ADD ITEM</a>